
<div> coucou jr</div>
<div class="grosse-div">
<!-- https://open.spotify.com/playlist/40o3XUICWQblUWLYOcElQy -->
<iframe src="https://open.spotify.com/embed/playlist/40o3XUICWQblUWLYOcElQy" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">

</iframe>
      <div class="cache"></div>
</div>

<br><br><br>

<input type="text" id="chanteur" placeholder="chanteur">

<input type="text" id="titre" placeholder="titre">
